<%- include('../adminPartials/header') %>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="/addProductData" method="POST" enctype="multipart/form-data" id="addProductValidation">

                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>1. General info</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Product Name</label>
                                            <% if (productAlreadyExists) { %>
                                                <p class="error">Product already exists</p>
                                            <% } %>
                                            <input type="text" name="productName" placeholder="Type here" class="form-control" required>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">Product Category</label>
                                            <select name="parentCategory" class="form-select"
                                                aria-label="Default select example">
                                                <% categories.forEach((value)=>{ %>
                                                    <option value="<%=value.categoryName%>">
                                                        <%= value.categoryName %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Cost in Rupees</label>
                                            <input type="number" placeholder="₹00.0" name="productPrice" class="form-control" onclick="stopeT" autofocus="">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>3. Media</h6>
                                    </div>
                                    <div class="mb-3">
                                        <div id="imageDiv" class="d-flex flex-wrap gap-5"></div>
                                        <div>
                                          <label for="image" class="form-label">Image</label>
                                          <input
                                            type="file"
                                            class="form-control"
                                            id="image"
                                            name="images"
                                            accept="image/*"
                                            multiple
                                            onchange="loadFile(event)"
                                            required
                                          />
                                        </div>
                                        <!-- Close button -->
                                        <button type="button" style="width: fit-content; display: none;" id="cls-btn" class="btn btn-danger mt-2" onclick="clearImageInput()">Clear images</button>
                                    </div>
                                </div> <!-- .row end// -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Stock</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <input type="number" placeholder="" name="productStock" class="form-control" required autofocus="">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>5. Description</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <input type="text" placeholder="" name="productDescription" class="form-control" required autofocus="">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>6. Highlights</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <input type="text" placeholder="" name="productHighlight" class="form-control" autofocus="">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" id="cropButton" class="btn btn-success">Save changes</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->

    </main>
    <%- include('../adminPartials/footer') %>



    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <script>

        $("#addProductValidation").validate({
            rules:{
                productName:{
                    required:true,
                    pattern:/^[a-zA-Z0-9]/
                },
                parentCategory:{
                    required:true
                },
                productPrice:{
                    required:true,
                    pattern:/^\d+(-\d+)*$/
                },
                productImage1:{
                    required:true
                },
                productImage2:{
                    required:true
                },
                productImage3:{
                    required:true
                },
                productStock:{
                    required:true,
                    min:0,
                    pattern:/^\d+(-\d+)*$/
                },
                productDescription:{
                    required:true,
                    pattern:/^[a-zA-Z0-9]/
                },
                productHighlight:{
                    required:true,
                    pattern:/^[a-zA-Z0-9]/
                }
            }
        })

    </script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
        integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
        integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>


        
        let crop = [];
    function loadFile(event) {

        event.preventDefault()

      let imageDiv = document.getElementById("imageDiv");
      imageDiv.innerHTML = "";

      const maxImages = 3;
      const files = event.target.files;
      if (files.length > maxImages) {
        alert(`Please select only up to ${maxImages} images.`);
        document.getElementById("image").value = ""; // Clear the file input
        return;
      }

      for (let i = 0; i < files.length; i++) {
        const file = files[i];

        const reader = new FileReader();

        reader.onload = (e) => {
          // Create an image element and set its source to the selected file
          const div = document.createElement("div");
          div.style.height = "300px";
          div.style.width = "300px";
          const img = new Image();
          img.src = e.target.result;
          img.style.margin = "30px";

            // Create a delete button for the image
        const deleteButton = document.createElement("button");
        deleteButton.textContent = "Delete";
        deleteButton.className = "btn btn-danger";
        deleteButton.style.marginLeft = "10px";

        // Add an event listener to delete the image when the button is clicked
        deleteButton.addEventListener("click", function (e) {

            e.preventDefault()

            div.remove(); // Remove the image container
            // Remove the Cropper instance from the array
            crop.splice(i, 1);
            // Update the file input value if needed
            document.getElementById("image").value = "";
        });

      // Append the delete button to the container
      div.appendChild(deleteButton);

          // Append the image to the container
          div.appendChild(img);
          imageDiv.appendChild(div);

          // Initialize Cropper.js on the image
          const cropper = new Cropper(img, {
            aspectRatio: 3.5 / 4, // Set the aspect ratio as needed
            viewMode: 1, // Set the view mode as needed
          });

          // Store the cropper instance in the croppers array
          crop.push(cropper);
        };

        reader.readAsDataURL(file);
      }
      // document.getElementById("img-container").style.height = "200px"

      document.getElementById("cropButton").addEventListener(
        "click",
        function (e) {

            e.preventDefault()
          // Get the cropped canvas data
          const canvas = cropper.getCroppedCanvas();

          // Set the source of the cropped image
          croppedImg.src = canvas.toDataURL("image/png");

          canvas.toBlob(function (blob) {
            const file = new File([blob], "croppedImg.png", {
              type: "image/png",
            });

            const formData = new FormData();
            formData.append("image", file);



            fetch("/addproduct", {
              method: "POST",
              body: formData,
            })
              .then((response) => response.json())
              .then((data) => {
                // Check if the upload was successful
                if (data.success) {
                  // Optionally, you can handle success here
                  window.location.href = "/products"; // Change this URL
                } else {
                  // Handle the case where upload was not successful
                  console.error("Upload failed:", data.error);
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          });

          cropper.destroy();
          // image.style.display = "none";
        },
        "image/png"
      );
      document.getElementById("cls-btn").style.display="block"
    }
    </script>

<script>
    function clearImageInput() {
      // Reset the value of the input file element
      document.getElementById('image').value = '';
      // Optionally, clear any displayed images
      document.getElementById('imageDiv').innerHTML = '';
      document.getElementById("cls-btn").style.display="none"
     

    }
  </script>