<!DOCTYPE html>
<html lang="en">
  <!-- molla/index-13.html  22 Nov 2019 09:59:06 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Cycle Store</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Cycle Store" />
    <meta name="author" content="p-themes" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/logo.png"
    />
    <link rel="manifest" href="/assets/images/icons/site.html" />
    <link rel="mask-icon" href="/assets/images/logo.png" color="#666666" />
    <link rel="shortcut icon" href="/assets/images/logo.png" />
    <meta name="apple-mobile-web-app-title" content="Molla" />
    <meta name="application-name" content="Molla" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta
      name="msapplication-config"
      content="/assets/images/icons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css"
    />
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/assets/css/plugins/owl-carousel/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/plugins/magnific-popup/magnific-popup.css"
    />
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css" />
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-13.css" />
    <link rel="stylesheet" href="/assets/css/demos/demo-13.css" />


    <style>

      @media (max-width: 767px) {
      .header-middle {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .header-left {
          order: -1;
      }

      .header-right {
          display: flex;
          align-items: center;
      }

      .top-menu {
          display: none;
      }

      .mobile-menu-toggler {
          display: block;
      }

      .header-dropdown-link {
          display: flex;
          align-items: center;
      }

      .wishlist-link,
      .dropdown-toggle {
          margin-right: 10px;
      }

      .cart-dropdown {
          margin-left: auto;
      }

      .wishlist-link,
      .dropdown-toggle,
      .cart-dropdown {
          display: flex;
          align-items: center;
      }
      }


  </style>

  </head>

  <body>
    <!-- <div class="page-wrapper"> -->
      <header class="header header-10 header-intro-clearance">
        <div class="header-top">
          <div class="container">
            <div class="header-right">
              <ul class="top-menu">
                <li>
                  <a href="#">Links</a>
          
                  <% if(userData){ %>
                  <ul>
                      <!-- <li><a href="/wishlist"><i class="icon-heart-o"></i> Wishlist </a></li> -->
                      <li><a href="/profile"><i class="icon-user" style="color: #b58555;"></i> Hello, <%= userData.userName %></a></li>
                      <li><a href="about.html">About Us</a></li>
                      <li class="logout"><a href="/userLogout">Logout</a></li>
                  </ul>
                  <% } else{ %>
                  <ul>
                      <li class="login"><a href="/signup">Sign in / Sign up</a></li>
                  </ul>
                  <% } %>
              </li>
              </ul>
              <!-- End .top-menu -->
            </div>
            <!-- End .header-right -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .header-top -->

        <div class="header-middle">
          <div class="container">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>

              <a href="/" class="logo">
                <img
                  src="/assets/images/demos/demo-13/logo.png"
                  alt="Cycle Logo"
                  width="70"
                  height="25"
                />
              </a>
            </div>
            <!-- End .header-left -->

            <div class="header-right">
              <% if(userData){ %>
              <div class="header-dropdown-link">
                <a href="/wishlist" class="wishlist-link">
                  <i class="icon-heart-o"></i>
                  <span class="wishlist-count"><%= wishlistCount %></span>
                  <span class="wishlist-txt">Wishlist</span>
                </a>

                <div class="dropdown cart-dropdown">
                  <a href="/cart" class="dropdown-toggle">
                    <i class="icon-shopping-cart"></i>
                    <span class="cart-count"><%= cartCount %></span>
                    <span class="cart-txt">Cart</span>
                  </a>

                  <!-- <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-action">
                                            <a href="/cart" class="btn btn-primary">View Cart</a> -->
                  <!-- <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a> -->
                  <!-- </div> -->
                  <!-- End .dropdown-cart-total -->
                  <!-- </div> -->
                  <!-- End .dropdown-menu -->
                </div>
                <!-- End .cart-dropdown -->
              </div>
              <% } %>
            </div>
            <!-- End .header-right -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .header-middle -->
      </header>
      <!-- End .header -->
    <!-- </div> -->
  </body>
</html>
